BOT_TOKEN=YOUR_TOKEN
PREFIX=%

USE_GAMIE_MODE=True
USE_GAMIE_REACTION_MODE=True
USE_SPOILER_REACTION_MODE=True

SPOILER_MENTION=False

GAMIE_EMOJI=U+1F41C
SPOILER_REACTION_EMOJI=U+274E
UNSPOILER_REACTION_EMOJI=U+2705