BOT_TOKEN=YOUR_BOT_TOKEN
PREFIX=%
OWNER_ID=YOUR_ID

USE_GAMIE_MODE=True
USE_GAMIE_REACTION_MODE=True
GAMIE_EMOJI=U+1F41C

# 개추 옵션 예시
USE_GAECHU_MODE=True
USE_GAECHU_REACTION_MODE=True
GAECHU_EMOJI=U+2B50

USE_SPOILER_REACTION_MODE=False
SPOILER_MENTION=False
SPOILER_REACTION_EMOJI=U+274E
UNSPOILER_REACTION_EMOJI=U+2705

MOVE_MENTION=False
USE_IMPORTANT_CHANNEL_REACTION_MODE=True
IMPORTANT_CHANNEL_ID=YOUR_IMPORTANT_CHANNEL_ID
IMPORTANT_CHANNEL_REACTION_EMOJI=U+2733

USE_TRASH_CHANNEL_REACTION_MODE=True
TRASH_CHANNEL_ID=YOUR_TRASH_CHANNEL_ID
TRASH_CHANNEL_REACTION_EMOJI=U+1F5D1
